<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.webkey"
      android:versionName="1.91" android:versionCode="210"
      android:installLocation="auto">
      <supports-screens
	      android:smallScreens="true"
	      android:normalScreens="true"
	      android:largeScreens="true"
	      android:anyDensity="true"
	      android:xlargeScreens="true"/>
      <uses-sdk android:minSdkVersion="3"/>
       
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Webkey"
               		android:launchMode="singleInstance" 
               		android:label="@string/app_name"                		               		
               		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />             
            </intent-filter>
        </activity>

        <activity android:name=".activity.WebkeyTab"
               		android:launchMode="singleInstance" 
               		android:label="@string/app_name"                		               		
               		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />        
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.SettingsTab"
               		android:launchMode="singleInstance" 
               		android:label="@string/app_name"                		               		
               		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />        
            </intent-filter>
        </activity>     
           
        <activity android:name=".PreparePermissions" android:configChanges="orientation"
              		android:launchMode="singleInstance"              		 
               		android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ManageUsers" android:configChanges="orientation"
              		android:launchMode="singleInstance"              		 
               		android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />             
            </intent-filter>
        </activity>
                       
        <activity android:name=".DynDnsSettings"        
                  android:label="@string/app_name"
                  android:launchMode="singleInstance">
        </activity>
        
        <activity android:name=".activity.LogView" 
        		  android:launchMode="singleInstance"        
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".activity.ChatUI" android:configChanges="orientation"
        		android:launchMode="singleInstance" 
        		android:label="Webkey Chat" >
        		<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
             	</intent-filter>
        </activity> 
        
         <activity android:name=".activity.RemoteScreen"
        		android:launchMode="singleInstance" 
        		android:label="Webkey Remote"
        		android:screenOrientation="portrait"
        		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  >
        		<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
             	</intent-filter>
        </activity>                
          <activity android:name=".activity.RemoteScreenTab"
        		android:launchMode="singleInstance" 
        		android:label="Webkey Remote"
                  >
        		<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
             	</intent-filter>
        </activity>     
                                
          <activity android:name=".activity.QualitySettings"
        		android:launchMode="singleInstance" 
        		android:label="Webkey Remote Settings"
                  >
        		<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
             	</intent-filter>
        </activity>                
		<receiver android:name="ChatReceiver">  
                 <intent-filter>  
                        <action android:name="webkey.intent.action.Chat"/>    
                 </intent-filter>   
		</receiver>        
        
        <receiver android:name=".receivers.RemoteRegistrationReceiver">  
                 <intent-filter>  
                        <action android:name="webkey.intent.action.remote.registration"/>    
                 </intent-filter>   
		</receiver>        
        
                     
		<receiver android:enabled="true" android:name="BootRinstall" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">  
                 <intent-filter>  
                         <action android:name="android.intent.action.BOOT_COMPLETED"/>  
                         <category android:name="android.intent.category.DEFAULT" />  
                 </intent-filter>   
		</receiver>

		<receiver android:name=".GPS"> 
			<intent-filter> 
				<action android:name="webkey.intent.action.GPS.START" />
				<action android:name="webkey.intent.action.GPS.STOP" /> 
			</intent-filter> 
		</receiver>

		<receiver android:name=".SMS">
			<intent-filter>
				<action android:name="webkey.intent.action.SMS.SEND"/>
			</intent-filter>
		</receiver>
		
		<receiver android:name=".Widget" android:label="@string/app_name">                  
            <intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/watch_widget_provider"/>
		</receiver>
				          
		<receiver androidenabled="true" android:name=".NetTest">                  
            <intent-filter>
    			<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
    			<category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>
		</receiver>
    </application>
     
	<uses-permission android:name="android.permission.INTERNET"/> 
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_SMS"/>
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
</manifest> 
